.beersContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.beersList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 
}

@media (max-width: 998px) {
  .beersList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 688px) {
  .beersList {
    grid-template-columns: 1fr;
  }
}

.noBeers{
  text-align: center;
  width: 100%;
  height: 100%;
}
